body{
    background-color: #FFF8EB;
    color: #290e27;
    text-align: center;
    font-family:'Rajdhani', sans-serif;
}

h1{
    font-family:'Nanum Gothic', sans-serif;
    font-weight: 800;
    color: #1b1b1b;
    font-size: 3em;
    margin: 6vw;
}

h2{
    font-family:'Nanum Gothic', sans-serif;
    font-weight: 700;
    color: #1b1b1b;
    font-size: 1.3em;
    margin-left: 2vw;
    margin-right: 2vw;
}

p{
    font-family:'Rajdhani', sans-serif;
    font-weight:300;
    color: rgb(64, 64, 64);
    font-size: 1.3em;
    margin-left: 2vw;
    margin-right: 2vw;
}

img{
    max-width: 100%;
    height: auto;
    margin-left: 2vw;
}

main{
    background-color: #ff7474;
    margin: 0 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align:left;
}

ul{
    list-style-type: none;
    margin: 5vh 20vw;
    padding: 0;
}

li{
    display:inline;
    padding: 0 2vw;
}

a{
    padding: 1vw;
    color:#290e27;
}

nav{
    background-color: #ffaaaa; 
    margin: -5vh 5vw;
}
a:link{
    text-decoration: none;
    display: block;
    padding: 1vw;
  
}

a:hover{
    background-color: #FFF8EB;
    font-weight: 700;
}